.nav-text {
  display: inline-block;
  position: relative;
  color: #ff0000;
}

.nav-text:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ff0303;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.nav-text:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.nav-logo{
  width: 8%;
}

.car-img{
  height: 650px;
}
